/*CSS Document */

body {background-color: aliceblue;}

h1 {
    color: mediumblue;
    margin-left: 350px;}

h2 {
    color: cornflowerblue;
    font-size: 15px;}

h3 {color: blue;
    font-size: 16px;
    margin-left: 350px;}

a:link {color: blue;}
a:hover {color: black}
a:visited {color: red}
a:active {color: aqua}